@use 'variables' as v;

// Mixin para crear grid
@mixin grid ($columnas, $espaciado){
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

// Mixins para las Media Queries
@mixin phone{
  @media (min-width: v.$phone){
    @content;
  }
}

@mixin tablet{
  @media (min-width: v.$tablet){
    @content;
  }
}

@mixin desktop{
  @media (min-width: v.$desktop){
    @content;
  }
}

@mixin desktopXL{
  @media (min-width: v.$desktopXL){
    @content;
  }
}

@mixin resetearLista{
  margin: 0;
  padding: 0;
  list-style: none;
}
