@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
  // Características generales
  position: relative;
  min-height: 10rem;
  max-height: 40rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  // Media Querie para la altura
  @include m.desktop{
    max-height: 70rem;
  }
  
  // Overlay sobre video
  .overlay{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(128,0,255);
    background: linear-gradient(270deg, rgba(128,0,255,0.7) 0%, rgba(255,0,206,0.7) 100%);
    justify-content: center;
  }

  // Texto de overlay
  .contenido-video{
    // Pongo el overlay sobre el video
    z-index: 1;

    // Media Querie
    @include m.phone{
      h2{
        font-size: 7rem;
      }
    }
    h2{
      color: v.$blanco;
      margin: 0;
    }
    p{
      display: inline-block;
      background-color: v.$rosa;
      color: v.$blanco;
      padding: 1rem 2rem;
      font-weight: 700;
      font-size: 2.4rem;
      margin: 0;
    }
  }
    
  video{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
    @include m.desktop{
      width: 100%;
    }
  }
  
}